<div class="center jumbotron">
  <h1>Добро пожаловать на сайт выбора факультативных курсов!</h1>

  <h2>
    Здесь Вы сможете выбрать курсы по более чем 10 различным предметам.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt: "Sfedu logo"),
            'https://www.sfedu.ru/' %>
